{% extends 'base.html' %}

  {% load static %}

  {% block title %}Exams{% endblock %}

  {% block body %}

    <div id="services" class="services">
      <div class="container" style="margin-top: 3%; background: rgba(0, 0, 0, 0.9); padding: 30px;">

        <div class="section-title">
          <h2>Exams</h2>
          
          <p style="text-transform: none;">
            {% if e %}And your marks for...
            {% else %}No exams taken yet
            {% endif %}
          </p>
          
        </div>

        {% for exam in exams %}
          <div class="">
            <div class="col-lg-6 col-md-6 sub-image">
              <div class="" onclick="window.location.href='{% url 'subject_marks' student.id subject.id exam.id %}'">
                <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
                <!-- <div class="icon"><img src="{{ exam.pic.url }}" alt="{{ exam.name }}" height="100%;" width="100%;"></div> -->
                <h4 style="color: #18d26e">{{ exam.name }}</h4>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>

  {% endblock %}
