{% extends 'base.html' %}

  {% load static %}

  {% block title %}{{ exam.name }}{% endblock %}

  {% block body %}
  
    <div id="about" class="about" style="margin-top: 3%; background: rgba(0, 0, 0, 0.9); padding: 30px;">

      <div class="about-me container">

        <div class="section-title">
          <h2>{{ subject.name }}</h2>
        </div>

        <div class="row">
          <div class="col-lg-5" data-aos="fade-right" style="margin-top: 7px;">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3 style="color: white;">{{ exam.name }}</h3>
          </div>
        </div>

      </div>

      <div class="counts container">

        <div class="row">

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{ exam.obtained_marks }}" data-purecounter-duration="0.5" class="purecounter"></span>
              out of<span data-purecounter-start="0" data-purecounter-end="{{ exam.fullmarks }}" data-purecounter-duration="0.6" class="purecounter"></span>
              {% comment %} <p>Obtained marks</p> {% endcomment %}
            </div>
          </div>

        </div>

      </div>

      
      <div class="skills container">

        <div class="section-title">
          <h2>Percentage</h2>
        </div>

        <div class="row skills-content">

          <div class="col-lg-12">

            <div class="progress">
              <span class="skill">Marks <i class="val">{{ percent }}%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>


      <div class="interests container">

        <!-- <div class="section-title">
          <h2>Good luck for now and next</h2>
        </div> -->

      </div>

    </div>

  {% endblock %}
