{% extends 'base.html' %}
  {% load static %}
  {% block title %}
    Students
  {% endblock %}

  {% block body %}
  
    <div id="portfolio" class="portfolio">
      <div class="container" style="margin-top: 0%; background: rgba(0, 0, 0, 0.9); padding: 30px;">
        <h1 style="margin-bottom: 2%; font-weight: bold;"><a href="{% url 'index' %}" style="color: white;">Tuitioneers</a></h1>
        <div class="section-title">
          <h2>Students</h2>
        </div>

        <div class="row portfolio-container" style="display: flex; justify-content: space-between; " >
          {% for student in students %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap" onclick="window.location.href='{% url 'student' student.id %}'">
                {% comment %} <img src="{{ student.details.pic.url }}" class="img-fluid" alt="" style="height: 580px;"> {% endcomment %}
                {% if student.id == 1 %}<img src="{% static 'img/uploads/128878424_435200464309980_3090279836481231981_o_1GovWXL.jpg' %}" class="img-fluid" alt="" style="height: 580px;">
                {% elif student.id == 2 %}<img src="{% static 'img/uploads/30706333_1816569825316756_8932223848900722688_n_ibyBeuk.jpg' %}" class="img-fluid" alt="" style="height: 580px;">
                {% endif %}
                <div class="portfolio-info">
                  <h3>{{ student.details.name }}</h3>
                  <p style="text-transform: none;">{{ student.details.subtitle }}</p>
                  <div class="portfolio-links">
                    {% comment %} <a href="{{ student.details.pic.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a> {% endcomment %}
                    <a href="{% url 'student' student.id %}" title=""><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

  {% endblock %}
